<%- if can? :create, PrivateLabels::Page %>
  <%= link_to new_private_labels_admin_page_path, class: 'btn btn-success pull-right' do %>
    <i class="fa fa-plus"></i> New Page
  <% end %>
<%- end %>

<h1>Pages</h1>

<table class="table table-striped pages-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Updated</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, private_labels_admin_page_path(page) %></td>
        <td><%= page.updated_at.to_s :short_full %></td>
        <td class="text-right">
          <%- if can? :update, page %>
            <%= link_to private_labels_admin_page_path page do %>
              <i class="fa fa-edit"></i>
            <% end %>
          <%- end %>

          <%- if can? :destroy, page %>
            <%= link_to private_labels_admin_page_path(page), method: :delete, confirm: 'Are you sure?' do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <%- end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
