<%= form_for [:admin, redirect], html: { class: "redirect-form" } do |f| %>
  <% if redirect.errors.present? %>
    <div class="admin-errors">
      <%= redirect.errors.full_messages.join(",") %>
    </div>
  <% end %>
  <span class="label">Redirect from</span> <%= "#{request.protocol}#{request.host}" %>/<%= f.text_field :path, placeholder: "path" %><br />
  <span class="label">to</span> <%= "#{request.protocol}#{request.host}" %>/<%= f.text_field :destination, placeholder: "destination path" %>
  <%= f.submit 'Save' %>
<% end %>
