<h2>Surveys</h2>
<table class="surveys tablesorter">(summary="List of Surveys") 
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Responses</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Show progress?</th>
      <th>Ended?</th>
      <th>CCML Widget</th>
      <th>(colspan="2") Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td>
          <%= survey.id %>
        </td>
        <td>
          <%= link_to truncate(survey.title), admin_survey_path(survey), :title=> survey.title %>
        </td>
        <td>
          <%= raw"#{survey.survey_responses.count} (#{link_to 'view', progress_admin_survey_path(survey)})"  %>
        </td>
        <td>
          <%= survey.start_date && survey.start_date.strftime("%m-%d-%Y") %>
        </td>
        <td>
          <%= survey.end_date && survey.end_date.strftime("%m-%d-%Y") %>
        </td>
        <td>
          <%= survey.show_progress ? 'yes' : 'no' %>
        </td>
        <td>
          <%= survey.expired? ? 'yes' : 'no' %>
        </td>
        <td title="Copy and paste this into managed issue page">
          <%= "{ccml:#{survey.type.downcase} id='#{survey.id}'}" %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_survey_path(survey) %>
        </td>
        <td>
          <%= link_to "Delete", admin_survey_url(survey), :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Add Survey', new_admin_survey_path %>
