<h2>Comments</h2>
<div class="conversation-contributions">
	<% @conversation.contributions.without_parent.each do |contribution| %>
    <div class="contribution-wrapper">
      <section class="top-level-contribution" id="contribution-<%= contribution.id %>">
          <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3">
                  <div class="user-image">
                      <%= user_profile(contribution.owner).html_safe %>
                  </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-9">
                  <div class="contribution-container">
                      <div class="contribution-header row">
                          <div class="col-md-9 col-sm-9 col-xs-12 contribution-info">
                              <div class="row">
                                  <span class="visible-xs-block visible-sm-inline visible-lg-inline visible-lg-inline">
                                      <%= image_tag('private_labels/user-gray.png') %>
                                      <%= contribution.person.name %>
                                  </span>
                                  <span class="visible-xs-block visible-sm-inline visible-lg-inline visible-lg-inline">
                                      <i class="fa fa-clock-o fa-2x"></i>
                                      <%= contribution.created_at.strftime("%b %e, %Y") %>
                                  </span>
                                  <div class="visible-xs-block">
                                    <span class="header-icon"><%= link_to tos_private_labels_conversation_contribution_path(@conversation, contribution), remote: true, data: {'toggle' => 'modal', 'target' => '#flagModal'} do %>
                                              <i class="fa fa-flag fa-2x"></i>
                                              <% end %>
                                    <span class="header-icon"><a href="#" class="reply-to-contribution"><i class="fa fa-share fa-2x"></i></a></span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-3 hidden-xs text-left">
                              <span class="header-icon"><%= link_to tos_private_labels_conversation_contribution_path(@conversation, contribution), remote: true, data: {'toggle' => 'modal', 'target' => '#flagModal'} do %>
                                              <i class="fa fa-flag fa-2x"></i>
                                              <% end %>
                              <span class="header-icon"><a href="#" class="reply-to-contribution"><i class="fa fa-share fa-2x"></i> <%= contribution.children.count %> Replies</a></span>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="contribution-content">
                                  <%= sanitize contribution.content %>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </section>
        <div class="row">
            <div class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11">
            <% contribution.children.each do |child| %>
                <section class="contribution-reply" id="contribution-<%= child.id %>">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="user-image">
                                <%= user_profile(child.owner).html_safe %>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <div class="contribution-container">
                                <div class="contribution-header row">
                                    <div class="col-md-10 col-sm-10 col-xs-12 contribution-info">
                                        <div class="row">
                                            <span class="visible-xs-block visible-sm-inline visible-lg-inline visible-lg-inline">
                                              <%= image_tag('private_labels/user-gray.png') %>
                                              <%= child.person.name %>
                                          </span>
                                          <span class="visible-xs-block visible-sm-inline visible-lg-inline visible-lg-inline">
                                              <i class="fa fa-clock-o fa-2x"></i>
                                              <%= child.created_at.strftime("%b %e, %Y") %>
                                          </span>
                                          <div class="visible-xs-block">
                                            <span class="header-icon"><%= link_to tos_private_labels_conversation_contribution_path(@conversation, contribution), remote: true, data: {'toggle' => 'modal', 'target' => '#flagModal'} do %>
                                                      <i class="fa fa-flag fa-2x"></i>
                                                      <% end %>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 hidden-xs text-right">
                                        <span class="header-icon"><%= link_to tos_private_labels_conversation_contribution_path(@conversation, contribution), remote: true, data: {'toggle' => 'modal', 'target' => '#flagModal'} do %>
                                                <i class="fa fa-flag fa-2x"></i>
                                                <% end %>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="contribution-content">
                                            <%= sanitize child.content %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <% end %>
            </div>
        </div>
        <div class="row reply-form">
            <div class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11">
                <section class="contribution-reply">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="user-image">
                                <%= user_profile(contribution.owner).html_safe %>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <%= form_for [@conversation, contribution.children.new], :html => { :class => 'contribute-form', multipart: true } do |f| %>
                            <%= f.hidden_field :parent_id %>
                            <div class="editable">
                                
                                <%= f.text_area :content, rows: 1, placeholder: "Click here to respond to #{Swayze.current_private_label.name}", id: "reply-#{contribution.id}" %>
                                <div class="pre-actions hidden-xs">
                                  <a href="#" class="upload-image"><i class="fa fa-camera-retro fa-2x"></i></a>
                                  <a href="#" class="upload-link"><i class="fa fa-link fa-2x"></i></a>
                                </div>
                            </div>
                                <%= render partial: 'private_labels/contributions/contributions_attachment_form', locals: {form: f, contribution: @newContribrution} %>

                            <div class="contribute-actions pull-right hide">
                              <a href="#" class="btn btn-default cancel">Cancel</a>
                              <%= f.submit "Comment", class: "btn btn-success submit", disable_with: "Posting..." %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
	<% end %>
</div>