<section>
  <div class="tos">
    <h3><%= Swayze.current_private_label.name %> Terms </h3>
    <%= simple_format(Swayze.current_private_label.terms_of_service) %>
    <h3>Civic Commons Principles</h3>
    <%= render partial: 'private_labels/shared/civic_principles' %>
  </div>
  <div class="agree-to-terms checkbox">
    <%= label_tag :agree_to_terms do %>
      <%= check_box_tag :agree_to_terms %>
      I'm on board, and will do my best to keep these principles in mind.
    <% end %>
  </div>
</section>
