<h2>Remote Pages</h2>

<%= search_form_for @q, url: admin_remote_pages_path do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
<% end %>

<table class="tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Contributions</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @remote_pages.each do |remote_page| %>
      <tr>
        <td><%= link_to (remote_page.title || "Page at: #{remote_page.url}"), remote_page.url, target: '_blank' %></td>
        <td><%= remote_page.contributions.count %></td>
        <td>
          <%= link_to 'view conversation', admin_conversation_path(remote_page.conversation) if remote_page.conversation %>
          <%= link_to 'convert to conversation', new_admin_remote_page_conversation_path(remote_page) unless remote_page.conversation %>
          | <%= link_to 'delete', [:admin, remote_page], method: 'delete', confirm: 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @remote_pages %>
