<%= form_for [@conversation, contribution.children.new], html: { class: 'contribute-form', multipart: true } do |f| %>

  <%= f.hidden_field :parent_id %>
  <div class="editable">

    <%= f.text_area :content, rows: 1, placeholder: "Click here to respond to #{Swayze.current_private_label.name}", id: "reply-#{contribution.id}" %>

    <div class="pre-actions hidden-xs">
      <a href="#" class="upload-image"><i class="fa fa-camera-retro fa-2x"></i></a>
      <a href="#" class="upload-link"><i class="fa fa-link fa-2x"></i></a>
    </div>

  </div>

  <%= render partial: 'private_labels/contributions/contributions_attachment_form', locals: { form: f, contribution: f.object } %>

  <div class="contribute-actions pull-right hide">
    <a href="#" class="btn btn-default cancel">Cancel</a>
    <%= f.submit "Comment", class: "btn btn-success submit", disable_with: "Posting..." %>
  </div>

<% end %>
