<% unless @notifications.empty? %>
  <h1>Here’s a quick update on what’s going on at the Commons.</h1>
  <% @conversations.each do |conversation| %>
  	<h2><%= conversation.title %></h2>
  	<% @notifications.by_conversation(conversation).each do |notification| %>
  		<%= render notification.item %>
  	<% end %>
  	<%= link_to 'Check it out', "#{conversation_url(conversation)}" %>
  <% end %>
<% end %>
<h5 style="color: #a3a3a3; margin-bottom: 0; margin-top: 50px;">Too much information?</h5>
<p style="font-size: 12px; margin-top: 0; color: #a3a3a3;">
Opt out of specific conversations by clicking "Following" on that conversation page at
<%= link_to 'theciviccommons.com', root_url %>, or you can unsubscribe from all Conversation activity emails
<%= link_to 'unsubscribe', unsubscribe_confirmation_url(@recipient) %>.
</p>
