<% unless @notifications.empty? %>
  <h1>Here’s a quick update on what’s going on at the Commons.</h1>
  <% @conversations.each do |conversation| %>
  	<h2><%= conversation.title %></h2>
  	<% @notifications.by_conversation(conversation).each do |notification| %>
  		<%= render notification.item %>
  	<% end %>
  	<%= link_to 'Check it out', "#{conversation_url(conversation)}" %>
  <% end %>
<% end %>
<h3>Too much information?</h3>
<p>
Opt out of specific conversations by clicking "Following" on that conversation page at
<%= link_to 'theciviccommons.com', root_url %>, or you can unsubscribe from all Conversation activity emails
<%= link_to 'unsubscribe', unsubscribe_confirmation_url(@recipient) %>.
</p>
