<div class="response new-response">
  <%= render :partial => '/user/author_card', locals: {author:current_person, conversation_created_at: @conversation.created_at} %>
  <%= form_for [new_contribution.conversation, new_contribution], remote: true, html: {id: "contribution-response-#{parent.id}", multipart: true} do |f| %>
    <%= f.hidden_field :parent_id, value: parent.id %>
    <div class="content editable">
      <%= f.text_area :content, rows: 2, class: "thread-reply", id: "contribution-content-#{parent.id}", placeholder: "Click here to respond to #{parent.person.first_name || parent.person.name}" %>

      <%= render partial: '/contributions/contribution_attachments_form', locals: {form: f} %>

      <% if @conversation.moderated_by?(current_person) %>
      <div>
        As the moderator, you can help guide the conversation by posting important responses as "moderator posts". Would you like to make this a moderator post?
        <%= label_tag(:non_moderator_post, "No") %>
        <%= f.radio_button :moderator_post, false  %>
        <%= label_tag(:moderator_post, "Yes") %>
        <%= f.radio_button :moderator_post, true  %>
      </div>
      <% end %>

      <div class="contribute-actions">
        <a href="#" class="button tertiary cancel">Cancel</a>
        <%= f.submit "Post", class: "button" %>
      </div>
    </div>
  <% end %>
</div>
