<fieldset class="form-group top-align">
  <div class="form-block">
    <%= form.label :title %>
    <p class="tip mln">Choose a title for your conversation. Be clear and concise.</p>
    <%= form.text_field :title, :class => "charcount mrm textbox" %>
  </div>


  <div class="form-block">
    <%= form.label :image %>
    <p class="tip mln">Choose an image to go with your conversation. (It will look best if you choose a 3:2 ratio.)</p>
    <div class="row">
      <div class="col-3">
        <img src="/assets/placeholder.jpg" alt="" class="img-flex" />
      </div>
      <div class="col-9">
        <%= form.file_field :image, :class => 'mbm' %>
        <label for="permission" class="plain plain-ext">
          <input type="checkbox" class="fl-check" name="permission" />
          I have permission to use the attached image.
        </label>
      </div>
    </div>
  </div>

  <div class="form-block">
    <label for="link">Link</label>
    <p class="tip mln">Add a link that supports your conversation, or is relevant to what you want to talk about.</p>
    <input class="textbox" id="link" name="link" size="30" type="text" />
  </div>

  <div class="form-block">
    <%= form.label :metro_region_city, 'Location' %>
    <p class="tip mln">Enter the city name central to your conversation. We will link it to the nearest Metro area.</p>
    <%= form.text_field :metro_region_city_display_name, :class => "textbox metro_region_city_display_name", :placeholder => "Enter the city name here" %>
    <%= form.hidden_field :metro_region_id, :class => 'metro_region_id' %>
  </div>

  <%= render :partial => "/conversations/region_autocomplete" %>

</fieldset>

<%= form.hidden_field :zip_code, value: 'ALL' %>

<%# TODO: This needs to be pulled into it's own file %>
<script type="text/javascript">
	$(document).ready(function(){	
		$(".charcount").charCount({
			allowed: 30,		
			warning: 10,
		});
	});
</script>
