<fieldset class="form-group top-align">
  <div class="form-block">
    <%= form.label :title, :class => "required-field" %>
    <span class="required">*</span>
    <p class="tip mln">Choose a title for your conversation. Be clear and concise.</p>
    <%= form.text_field :title, :class => "charcount mrm textbox" %>
  </div>


  <div class="form-block">
    <%= form.label :image %>
    <p class="tip mln">Choose an image to go with your conversation. (It will look best if you choose a 3:2 ratio.)</p>
    <div class="row">
      <div class="col-9">
        <%= form.file_field :image, :class => 'mbm' %>
      </div>
    </div>
  </div>


  <div class="form-block">
    <%= form.label :metro_region_city, 'Location', :class => "required-field" %>
    <span class="required">*</span>
    <p class="tip mln">Enter the city name central to your conversation. We will link it to the nearest Metro area.</p>
    <%= form.text_field :metro_region_city_display_name, :class => "textbox metro_region_city_display_name", :placeholder => "City, State" %>
    <%= form.hidden_field :metro_region_id, :class => 'metro_region_id' %>
  </div>

  <%= render :partial => "/conversations/region_autocomplete" %>

  <div class="form-block">
    <%= form.label :topics, :class => "required-field" %>
    <span class="required">*</span>
    <p class="tip mln">Select the topics associated with this conversation.</p>
    <table class="pts conversation-topics" style="margin-left: 20px;" width="50%">
      <% topics = Topic.order(:name) %>
      <% topics << OpenStruct.new(:name => 'Other', :id => '999') %>
      <% topics.each_slice(2) do |slice| %>
        <tr>
          <% slice.each do |topic| %>
            <td class="pts pbs">
              <% if topic.is_a?(OpenStruct) %>
                <%= check_box_tag "conversation[other_topic]", 'other_topic', @conversation.other_topic, :name => 'conversation[other_topic]', :class => 'fl-check' %><%= label_tag "conversation[other_topic]", 'Other', :class => 'plain plain-ext' %>
              <% else %>
                <%= check_box_tag "topic_ids[#{topic.id}]", topic.id, @conversation.topics.include?(topic), :name => 'conversation[topic_ids][]', :class => 'fl-check' %><%= label_tag "topic_ids[#{topic.id}]", topic.name, :class => 'plain plain-ext' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="form-block">
    <%= form.label :summary, :class => "required-field" %>
    <span class="required">*</span>
    <p class="tip mln">
      In two-to-three short sentences, tell people what this conversation is about. If you have additional information to share, post it in the "What do you think" section available after you complete creating the conversation.
    </p>
    <fieldset class="contrib_tool_container">
      <%= form.text_area :summary, :cols => 90 %>
    </fieldset>
  </div>
  <div class="form-block">
    <%= form.label :starter, "Conversation Starter", :class => "required-field" %>
    <span class="required">*</span>
    <p class="tip mln">
      What are the one or two statements or questions you want people to respond to?
    </p>
    <fieldset class="contrib_tool_container">
      <%= form.text_area :starter, :cols => 90 %>
    </fieldset>
  </div>
</fieldset>

<%= form.hidden_field :zip_code, value: 'ALL' %>

<%# TODO: This needs to be pulled into it's own file %>
<script type="text/javascript">
	$(document).ready(function(){	
		$(".charcount").charCount({
			allowed: 50,		
			warning: 10,
		});
	});
</script>
