<div class="response new-response">
  <%= render :partial => '/user/author_card', locals: {author:current_person, conversation_created_at: @conversation.created_at} %>
  <%= form_for [new_contribution.conversation, new_contribution], remote: true, html: {id: "contribution-response-#{parent.id}", multipart: true} do |f| %>
    <%= f.hidden_field :parent_id, value: parent.id %>
    <div class="content editable">
      <%= f.text_area :content, rows: 2, class: "thread-reply", id: "contribution-content-#{parent.id}", placeholder: "Click here to respond to #{parent.person.first_name}" %>

      <%= render partial: '/contributions/contribution_attachments_form', locals: {form: f} %>

      <div class="contribute-actions">
        <a href="#" class="button tertiary cancel">Cancel</a>
        <%= f.submit "Save", class: "button" %>
      </div>
    </div>
  <% end %>
</div>
