<a name="contribution-#{contribution.id}"></a>
<div class="thread <%= css_classes ||= "" %>" id="<%= "show-contribution-#{contribution.id}" %>">
  <div class="primary">
    <%= render :partial => '/contributions/contribution_aux_actions', locals: {contribution:contribution, sub_contribution_count: contribution.descendants.count, is_sub_contribution: false} %>
    <%= render :partial => '/user/author_card_large', locals: {author:contribution.owner, conversation_created_at: @conversation.created_at} %>
    <div class="content">
      <%= format_comment(contribution) %>
    </div>
  </div>
  <div class='responses'>
    <%= render partial: "/conversations/conversation_sub_level_contribution", collection: contribution.descendants, as: :contribution %>
  </div>


  <% if current_person %>
    <%= render partial: "/conversations/conversation_sub_level_contribution_form", locals: {parent: contribution, new_contribution: new_contribution} %>
  <% end %>

</div>
