<div class="comment">
  <%= avatar_profile(person, 80, nil) %>
  <div class="name">
    <%= person.name %>
  </div>
  <div class="date">
    on <%= DateTime.now.strftime('%B %d, %Y') %>
  </div>
  <div class="body">
    <%= form_for [@conversation, @top_level_contribution], remote: true, html: { multipart: true} do |f| %>
      <div class="editable">
        <%= f.text_area :content, rows: 2, placeholder: "Click here to respond to #{@conversation.person.first_name || @conversation.person.name}" %>

        <%= render partial: '/contributions/contribution_attachments_form', locals: {form: f} %>

        <div class="contribute-actions">
          <a href="#" class="button tertiary cancel">Cancel</a>
          <%= f.submit "Post", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
