<div class="aside supplementary">
  <p>
    <% if current_person %>
      <%= link_to("Post to this Conversation", '#', :class => "text button wide-button post_to_conversation", :id => 'post_to_conversation', :title => 'Post to this conversation') %>
      <script>
        
        enable_post_to_conversation($('#post_to_conversation'));

      </script>
    <% else %>
      <%= link_to("Post to this Conversation", { :controller => :sessions, :action => :ajax_new }, :class => "button wide-button", 'data-colorbox' => true ) %>
    <% end %>
  </p>
  <p>
    <%= render :partial => '/invites/invite_to_conversation', :locals => {:conversation => @conversation} %>
  </p>
  <% if @conversation.content_items.size > 0 %>
    <div class="mod">
      <h3>Related To</h3>
      <div class="mod-content">
        <ul class="link-list">
          <% @conversation.content_items.each do |content_item| %>
            <li class="issue-list">
              <%= link_to(content_item.title, path_to_content_item(content_item)) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% conversation_show_aside_cache_key = ["conversation_show_aside", @conversation.id, @conversation.issues.managed_issue.count, @conversation_participants.count, @latest_contribution.nil? ? 0 : @latest_contribution.id] %>
  <% cache conversation_show_aside_cache_key do %>
    <%= render :partial => '/layouts/conversation_managed_issues', :locals => {:managed_issues => @conversation.issues.managed_issue} %>
    <%= render :partial => '/shared/opportunity/side_participants', :locals => {participants: @conversation_participants} %>
    <%= render_recent_items_sidebar %>
  <% end %>
</div>
