<h3>
  Moderators (<%= moderators_count %>)
</h3>
<div class="moderators-container">
  <a href="#" class="pager-arrow left icon-chevron-left"></a>
  <a href="#" class="pager-arrow right icon-chevron-right"></a>
  <div class="moderators" id="moderators">

    <% moderators.each_slice(6) do |moderators_cluster| %>
      <div class="page">
        <% moderators_cluster.each do |moderator| %>
        <div class="moderator">
          <%= link_to user_url(moderator), title: moderator.name do %>
            <%= image_tag moderator.avatar_image_url, alt: moderator.name, height: 40, size: 40, title: moderator.name %>
            <%= moderator.name %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<script type="text/javascript">
  $("#moderators").cycle({
    fx: 'scrollHorz',
    timeout: 'auto',
    prev: $(".moderators-container a.pager-arrow.left"),
    next: $(".moderators-container a.pager-arrow.right"),
    speed: 300
  });
</script>


  <div class="aside supplementary" id="participants">
    <div class="participants-inner">
      <h3>
        Participants (<%= participants_count %>)
        <a class="all-participants see-all" href="#">See All</a>
      </h3>
      <div class="participants-container">
        <a href="#" class="pager-arrow left icon-chevron-left"></a>
        <a href="#" class="pager-arrow right icon-chevron-right"></a>
        <div class="participants">

          <% participants.each_slice(6) do |participant_cluster| %>
            <div class="page">
              <% participant_cluster.each do |participant| %>
              <div class="participant">
                <%= link_to user_url(participant), title: participant.name do %>
                  <%= image_tag participant.avatar_image_url, alt: participant.name, height: 40, size: 40, title: participant.name %>
                  <%= participant.name %>
                <% end %>
              </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
      <script type="text/javascript">
        $(".participants-container a.pager-arrow").click(function(e) {
          e.preventDefault();
        });
        $(".participants").cycle({
          fx: 'scrollHorz',
          timeout: 'auto',
          prev: $(".participants-container a.pager-arrow.left"),
          next: $(".participants-container a.pager-arrow.right"),
          speed: 300
        });
      </script>


    </div>
  </div>

