<div class="share-buttons">

  <div class="share-button">
    <%= link_to embed_conversation_path(@conversation) do %>
      <%= image_tag 'embed_logo.png', width: 40 %>
      <div class="button button-mini tertiary ">Embed</div>
    <% end %>
  </div>

  <div class="share-button">
    <div class="follows">
      <%= @conversation.subscriptions.count %>
    </div>
    <%= render :partial => '/subscriptions/subscription', :locals => {:subscribable => @conversation} %>
  </div>

  <div class="share-button email">
    <img alt="Embed_logo" src="/assets/envelope.png" class="envelope" width="40" />
    <%= link_to "Email", "mailto:?to=&subject=#{u email_share_subject(@conversation)}&body=#{email_share_body(@conversation).html_safe}", class: "button button-mini tertiary", target: "_blank" %>
  </div>

  <div class="share-button twitter">
    <%= render :partial => 'shared/twitter_share', locals: { title: @conversation.title} %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="share-button facebook fb-like" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false" data-send="false"></div>

</div>
