<div class="wrapper">
  <div class="content-container">
    <div class="row">
      <div class="col-12">
        <h2>We are the Civic Commons - and we strive to keep our ideas, our tone, civil.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="media">
          <div class="img">
            <i class="convo-icons convo-icons-lrg-plus"></i> 
          </div>
          <div class="bd">
            <h1>Start a Conversation<%= " from #{@start_from}: #{@content_item.title}" if @start_from %></h1>
            <p class="subtitle">Add your 2&#162;</p>
          </div>
        </div>

        <%= form_for setup_conversation(@conversation),:url => polymorphic_url([get_path_sym(@content_item), :conversations]), :html =>{:multipart => true} do |conversation| %>
          <%= render :partial => 'conversations/creation_errors', :locals => { :conversation => @conversation, :contributions => @conversation.contributions } %>

          <%= render :partial => 'conversations/conversation_fields', :locals => { :form => conversation } %>

          <fieldset class="footer mtl">
            <div class="field-block">
              <label for="conversation_agree_to_be_civil" class="plain plain-ext">
                <%= conversation.check_box :agree_to_be_civil, :class=>"fl-check" %>
                I agree that our conversations should be civil, and I commit to support the effort to use The Civic Commons as a place to do so.
              </label>
            </div>
            <div class="field-block mtl">
              <%= conversation.submit 'Start My Conversation', :class => 'submit mln' %>
              <%= link_to "Cancel", root_url %>
            </div>
          </fieldset>

        <% end %>
      </div>
    </div>
  </div>
</div>

