<% content_for :header do %>
  <%# NOTE: I thought we were doing away with these JS snippets? If we're no longer
  -# supporting IE7 we should ditch them. %>

  <!--[if lt IE 9]>
    <script src="/assets/ie7_js/IE9.js?body=1" type="text/javascript"></script>
  <![endif]-->
  <!--[if IE 7]>
    <script src="/assets/ie7_js/ie7-recalc.js?body=1" type="text/javascript"></script>
  <![endif]-->
<% end %>

<div class="wrapper nospace">
  <div id="contribute" class="contribute">
    <%= render :partial => "conversation_top_comment_box", locals: {person: current_person} %>

    <%#= render partial: 'conversation_recent_activity' %>
    <%= render_conversation_recent_items_sidebar %>
  </div>

  <div class="threads">
    <%= render partial: "conversation_top_level_contribution", collection: @contributions, as: :contribution, locals: {new_contribution: @top_level_contribution} %>
  </div> <!-- threads -->

</div>

<script type="text/javascript">
  var refresh_time = "<%= Time.zone.now %>";
  setInterval(function() {
    $.getScript("<%= updates_conversation_path(@conversation) %>?time="+refresh_time);
    refresh_time = moment().utc().format();
  }, 30000);
</script>
