%h2 Staff Picked Conversations
%table.staff-picked(summary="List of Conversations")
  %thead
    %tr
      %th Position
      %th Conversation Title
      %th Created Date
      %th.staff_pick_header Staff Pick
      %th.actions_header(colspan="2") Actions
  %tbody
    - @conversations.each do |conversation|
      %tr{ "data-conversation-id" => conversation.id, :class => conversation.staff_pick ? '' : 'ui-state-disabled' }
        %td
          = form_for conversation, :url => move_to_position_admin_conversation_path(conversation), :method => :put do |c|
            = c.text_field :position, :size => 3, :id=>"conversation_position_#{c.object.id}", :class=>'conversation-position'
        %td= link_to short_title(conversation.title), admin_conversation_path(conversation)
        %td= conversation.created_at.strftime("%m-%d-%Y")
        %td.staff_pick_column= toggle_staff_pick_link(conversation)
        %td= link_to "Edit", edit_admin_conversation_path(conversation)
        %td= link_to "Delete", admin_conversation_url(conversation), :method => :delete, :confirm => "Are you sure?"
%br

