<div class="wrapper">
  <div class="content-container">
    <h1>Register</h1>
    <%= form_for(form_presenter, :as => resource_name, :url => secure_registration_url(resource_name), :method => "post", "data-remote" => 'true', :html => { :multipart => 'true', :class => "register" }) do |f| %>
      <%= f.fields_for :authentications do |authentication_form| %>
        <%= authentication_form.hidden_field :token %>
        <%= authentication_form.hidden_field :uid %>
        <%= authentication_form.hidden_field :provider %>
      <% end %>
      <fieldset class="regular-reg <%= 'show' if form_presenter.show_normal_fields? %>">
        <div class="form-block">
          <%= f.label :first_name, 'Your Name:' %>
          <%= f.text_field :first_name, :class => 'textbox first-name', :readonly => form_presenter.show_facebook_fields? %>
          <%= f.text_field :last_name, :class => 'textbox last-name', :readonly => form_presenter.show_facebook_fields? %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.label :title, 'Your Title' %>
          <%= f.text_field :title, :class => 'textbox first-name' %>
        </div>
        <div class="form-block">
          <%= f.label :email, 'Email Address:' %>
          <%= f.text_field :email, :class => 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block <%= 'hide' if form_presenter.show_facebook_fields? %>">
          <%= f.label :password %>
          <%= f.password_field :password, :class=> 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block <%= 'hide' if form_presenter.show_facebook_fields? %>">
          <%= f.label :password_confirmation, 'Password Again:' %>
          <%= f.password_field :password_confirmation, :class=> 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block <%= 'hide' if form_presenter.show_facebook_fields? %>">
          <%= f.label :avatar, "Your Photo:" %>
          <%= f.file_field :avatar, :class => 'textbox' %>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-block">
          <%= f.label :bio, 'Tell us a little about yourself:' %>
          <%= f.text_area :bio, class: 'textbox', rows: 10, placeholder: 'What should others know about you? (This will appear on your profile page. You can always edit it later through your settings.)' %>
        </div>
        <div id= "zipcode_warning" style="display: none; padding-left: 160px; margin-bottom: 5px; color: #900;">
          You need to enter a valid zipcode
        </div>
        <div class="form-block">
          <%= f.label :zip_code, 'Zipcode:' %>
          <%= f.text_field :zip_code, class: 'textbox' %>
          <span class="required">*</span>
        </div>
        <div class="form-block">
          <%= f.check_box :daily_digest, class: 'checkbox' %>
          <%= f.label :daily_digest, 'Yes, please send me the digest of activity relevant to my interests', class: 'checkbox' %>
        </div>
        <div class="form-block">
          <%= f.check_box :weekly_newsletter, class: 'checkbox' %>
          <%= f.label :weekly_newsletter, 'Yes, please send me The Civic Commons weekly newsletter', class: 'checkbox' %>
        </div>
      </fieldset>
      <div class="form-block facebook-auth <%= 'hide' unless form_presenter.blank_form? %>" style="font-weight: bold; ">
        <div class="social-holder">
          <div class="sign-in-social register">
            <span>Connect with</span>
              <%= image_tag ('arrow.png') %>
          </div>
          <% Authentication::PROVIDERS.each do |provider| %>
            <%= link_to person_omniauth_authorize_path(provider.to_sym), {style: "margin-right: 0;", class: "social_link"} do %>
              <div class="social-link-sign <%= provider %>"></div>
            <% end %>
          <% end %>
        </div>
        OR
        <div class="social-holder" style="margin-left: 10px;">
            <div class="sign-in-social non-social">
              <span>Register with</span>
              <%= image_tag ('arrow.png') %>
            </div>
            <%= link_to '#', {class: 'no-fb'}, {style: "margin-right: 0;"} do %>
              <div class="social-link-sign email"></div>
            <% end %>
        </div>
      </div>
      <div class="form-block regular-reg <%= 'show' unless form_presenter.blank_form? %>">
        <%= f.submit "Continue", :class => 'submit' %>
        or
        <%= link_to 'Cancel', '/', :class=> 'cancel' %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $().ready(function(){
    $('.social_link').click(function(e){
      e.preventDefault();
      var zipcode = $('#person_zip_code').val();
       if (zipcode == ""){
        $("#zipcode_warning").show();
       }
       else {
        var url = $(this).attr('href');
        var bio = $('#person_bio').val();
        var digest = $('#person_daily_digest').is(':checked');
        var newsletter = $('#person_weekly_newsletter').is(':checked');
        var val = url + "?zipcode=" + zipcode + "&bio=" + bio + "&digest=" + digest + "&newsletter=" + newsletter;
        window.location.href = val;
      }
    });
  });
</script>