<div class="actions" id="actions-<%= contribution.id %>">
  <%# Terms of Service Violations! %>
  <%= link_to('',
              new_tos_path(contribution),
              :class => "action flag conversation-action top-level-contribution-action-button",
              :id => "action-link-#{contribution.id}",
              'data-colorbox' => true,
              :title => "Alert Us of Terms of Service Violations") %>

  <%# Expand and Add a New Contribution %>
  <a href="<%= current_person ? "#" : new_person_session_path %>" class="action expand <%= "login" unless current_person %>" title="Add your comment">
    <% if !is_sub_contribution %>
      <span class="response-count"><%= sub_contribution_count %></span>
    <% end %>
  </a>

  <%# Ratings %>
  <span href="" class="action mark expandable" >
    <span class="response-count"><%= contribution.ratings_count %></span>
    <ul class="mark-post-as">
      <% rating = Rating.find_by_rating_group_id(contribution.id) %>
      <%= rating_buttons(contribution, @ratings || rating) %>
    </ul>
  </span>

  <%# Admin Users have some pretty special abilities! %>
  <% if current_person.try(:admin?) %>
    <div class="post-admin">
      <%= link_to moderate_conversation_contribution_path(contribution.conversation, contribution),  :class => 'moderate' do %>
        <i class="icon-ban-circle"></i>
        Moderate
      <% end %>

      <% if contribution.children.count == 0 && contribution.rating_groups.empty? %>
        <%= link_to ['edit', @conversation, contribution], remote: true, disable_with: "<i class=\"icon-edit\"></i> Edit" do %>
          <i class="icon-edit"></i> Edit
        <% end %>
      <% else %>
        <%= link_to ['edit', @conversation, contribution], remote: true, confirm: "This contribution has been rated or someone has responded to it, please ensure you do not alter meaning or intent with your edits" do %>
          <i class="icon-edit"></i> Edit
        <% end %>
      <% end %>

      <%= link_to conversation_contribution_path(contribution.conversation, contribution), :remote => true, :method => :delete, :confirm => "Are you sure you want to delete this response? This cannot be undone.", :class => "delete-contribution-action", 'data-target' => "#show-contribution-#{contribution.id}" do %>
        <i class="icon-trash"></i>
        Delete
      <% end%>
    </div>
  <% end %>

  <%# Contribution Creators have some special abilities too! %>
  <% if current_person && contribution.owner_editable?(current_person) && !current_person.admin? %>
    <div class="post-admin">
      <%= link_to ['edit', @conversation, contribution], remote: true do %><i class="icon-edit"></i> Edit<% end %>&nbsp;
      <%= link_to [contribution.conversation, contribution], :remote => true, :method => :delete, :confirm => "Are you sure you want to delete this response? This cannot be undone.", :class => "delete-contribution-action", 'data-target' => "#show-contribution-#{contribution.id}" do %><i class="icon-trash"></i >Delete<% end %>
    </div>
  <% end %>

</div>
