<%= form_for [contribution.conversation, contribution], remote: true do |f| %>
    <%= f.hidden_field :parent_id, value: contribution.parent.id if contribution.parent %>
    <div class="content editable">
      <%= f.text_area :content, rows: 2, class: "thread-reply", id: "#{"edit-" if contribution.persisted?}contribution-content-#{contribution.id || contribution.parent.id}", placeholder: ("Click here to respond to #{contribution.parent.person.first_name}" if contribution.parent) %>

      <%= render partial: '/contributions/contribution_attachments_form', locals: {form: f, contribution: @contribution} %>
      <%= render partial: '/contributions/contribution_moderator_form', locals: {form: f, conversation: @conversation} %>

      <div class="contribute-actions">
        <a href="#" class="button tertiary cancel">Cancel</a>
        <%= f.submit "Save", class: "button" %>
      </div>
    </div>
  <% end %>
