<section>
  <h2><div class="sidebar-header-icon"><span><%= image_tag('private_labels/share-wh.png') %></span></div>Share</h2>
  <div class="share-buttons">
    <!-- Follow -->  
    <a href="#" class="social private-label" target="_blank"><div class="share-icon-wrapper"><i class="fa fa-plus fa-2x"></i></div><div>Follow</div></a>
    <!-- Email -->
    <%= link_to "mailto:?to=&subject=#{u email_share_subject(@conversation)}&body=#{email_share_body(@conversation).html_safe}", class: "social private-label", target: "_blank" do %>
    <div class="share-icon-wrapper"><i class="fa fa-envelope fa-2x"></i></div><div>Email</div>
    <% end %>
    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" title="Share on Facebook" target="_blank" class="social facebook"><div class="share-icon-wrapper"><i class="fa fa-facebook fa-2x"></i></div><div>Facebook</div></a>
    <!-- Twitter -->
    <a href="http://twitter.com/home?status=<%= request.original_url %>" title="Share on Twitter" target="_blank" class="social twitter"><div class="share-icon-wrapper"><i class="fa fa-twitter fa-2x"></i></div><div>Twitter</div></a>

    <!-- LinkedIn --> 
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>&title=&summary=<%= request.original_url %>" title="Share on LinkedIn" target="_blank" class="social linkedin"><div class="share-icon-wrapper"><i class="fa fa-linkedin fa-2x"></i></div><div>LinkedIn</div></a>

  </div>

  </section>