<footer class="footer">
  <div id="footer-inner" class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12" id="footer-logo">
          <%= link_to '/', class: 'navbar-brand with-borders' do %>
            <%= image_tag Swayze.current_private_label.logo.url(:footer) %>
          <% end %>
        </div>
        <div class="col-md-9 col-sm-9 hidden-xs">
          
          <ul class="nav navbar-nav social-media navbar-right">
            <% if !Swayze.current_private_label.facebook_url.blank? %>
              <li>
                <%= link_to Swayze.current_private_label.facebook_url, target: :blank, class: 'footer-social' do %>
                  <i class="fa fa-facebook fa-lg"></i>
                <% end %>
              </li>
            <% end %>
            <% if !Swayze.current_private_label.twitter_url.blank? %>
              <li>
                <%= link_to Swayze.current_private_label.twitter_url, target: :blank, class: 'footer-social' do %>
                  <i class="fa fa-twitter fa-lg"></i>
                <% end %>
              </li>
            <% end %>
            <% if !Swayze.current_private_label.linkedin_url.blank? %>
              <li>
                <%= link_to Swayze.current_private_label.linkedin_url, target: :blank, class: 'footer-social' do %>
                  <i class="fa fa-linkedin fa-lg"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right footer-nav">
            <li>
              <%= link_to 'About Us', about_url %>
            </li>
            <li>
              <%= link_to 'Terms of Service', team_url %>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'About Us', about_url %>
            </li>
            <li>
              <%= link_to 'Terms of Service', team_url %>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
          <ul class="nav navbar-nav social-media navbar-right">
            <li>
              <a class="social-media-ico facebook_ico" href="http://www.facebook.com/pages/Civic-Commons/143930632284131">Facebook</a>
            </li>
            <li>
              <a class="social-media-ico twitter_ico" href="http://twitter.com/civiccommons">Twitter</a>
            </li>
            <li>
              <a class="social-media-ico youtube_ico" href="http://www.youtube.com/user/neociviccommons">YouTube</a>
            </li>
            <li>
              <a class="social-media-ico rss_ico" href="<%= feeds_url %>">RSS</a>
            </li>
          </ul>
        </div>
        
    </div>
  </div>
</footer>
<div class="footer-legal">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        Conversation text and related responses copyright &copy; The Civic Commons and are available under the <u>Creative Commons Attribution- NonCommercial- ShareAlike License;</u> additional terms may  apply.
      </div>
    </div>
  </div>
</div>