<div id="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav navbar-nav">
          <li class="with-borders"><%= link_to 'The Civic Commons', root_url, :id => 'logo', :title => 'The Civic Commons' %></li>
          <li>
            <a href="/" title="Home">Home</a>
          </li>
          <li>
            <a href="/conversations" title="Conversations">Conversations</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li id="nav-search" class="left-border">
            <%= link_to image_tag('private_labels/search-wh.png'), '#', id: 'pl-search' %>
            <div id="pl-search-form" class="hide">
              <%= render :partial => 'private_labels/search/search', locals: { filter_type: params[:filter] } %>
            </div>
          </li>
          <% if current_person %>
                <%= render :partial => 'private_labels/shared/user-profiles/logged_in' %>
            <% else %>
                <%= render :partial => 'private_labels/shared/user-profiles/logged_out' %>
            <% end %>
          </ul>
          
        
      </div>
    </div>
  </div>
</div>

