
  <% if person_signed_in? %>
    <%= surround "Logged in as ", "." do %>
      <%= current_person.email %>
    <% end %>
    <%= precede "Not you? " do %>
      <%= link_to "Logout", destroy_person_session_path %>
    <% end %>
  <% else %>
    <li class="left-border">
      <%= link_to 'login', '#', :data => {:'toggle' => 'modal', :'target' => '#loginModal'} %>
    </li>
    <li class="with-borders">
      <%= link_to 'register', registrations_principles_path %>
    </li>
  <% end %>
