<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      <%= page_title %>
    </title>
    <%= render :partial => 'layouts/meta_tags' %>
    <%= javascript_include_tag 'private_label/application.js' %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
    <%= stylesheet_link_tag '_bootstrap' %>
    <%= stylesheet_link_tag 'private_label/application', :media => "screen, projection" %>
    <script>
      /* Google Analytics */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19685339-1']);
      _gaq.push(['_setDomainName', '.theciviccommons.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <%= yield :header %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render partial: 'private_label/shared/header' %>

    <%= yield %>

    <%= render partial: 'private_label/shared/footer' %>

    <% if flash[:notice] %>
      <div class="flash-notice" style="display:none;">
        <%= flash[:notice] %>
        <%= image_tag 'flash-close.png' %>
      </div>
    <% end %>
  </body>

</html>
