<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      <%= page_title %>
    </title>
    <%= render :partial => 'layouts/meta_tags' %>
    <%= javascript_include_tag 'application.js' %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
    <%= stylesheet_link_tag 'application', :media => "screen, projection" %>
    <%= stylesheet_link_tag '_bootstrap' %>
    <script>
      $(document).ready(function(){

        $("input.datetime").datetimepicker({
          ampm: true,
          stepMinute: 15
        });

        <%= "#{yield :document_ready}" %>

      });

      /* Google Analytics */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19685339-1']);
      _gaq.push(['_setDomainName', '.theciviccommons.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <%= yield :header %>
    <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommons_new_conversations", { :title => "The Civic Commons: Conversations" } ) %>
    <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsblog", { :title => "The Civic Commons: Common Blog" } ) %>
    <%= auto_discovery_link_tag(:rss, "http://feeds.theciviccommons.com/civiccommonsnews", { :title => "The Civic Commons In The News" } ) %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!--[if lte IE 6]>
      <div class="global-warning">You are using a browser which isn't supported.  Try using <a href="http://www.firefox.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a> or <a href="http://www.google.com/chrome">Chrome</a>.</div>
    <![endif]-->
    <%= render partial: 'private_label/shared/header' %>

    <%= yield %>

    <%= render partial: 'private_label/shared/footer' %>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= Civiccommons::Config.facebook['api_key'] %>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <% if flash[:notice] %>
      <div class="flash-notice" style="display:none;">
        <%= flash[:notice] %>
        <%= image_tag 'flash-close.png' %>
      </div>
    <% end %>
  </body>

</html>
