<%= form_for [:admin, @region], :html =>{:multipart => true}  do |f| %>
  <p>
    <%= show_errors @region %>
    <p>
      <%= @region.city_name + ", " + @region.province %>
    </p>
    <%= f.label :display_name %>
    <br/>
    <%= f.text_field :display_name %>
  </p>
  <br/>
  <p></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
