<% content_for :header_second do %>
  <h1>Register for an Account</h1>
<% end %>

<h2>Our Guiding Principles</h1>
<p>The first thing you should know: This place operates by a few key principles and we'd like you to agree to them.</p>

<section>
  <div class="tos">
    <h3><%= @swayze.private_label.name %> Terms </h3>
    <%= simple_format(@swayze.private_label.terms_of_service) %>
    <h3>Civic Commons Principles</h3>
    <%= render partial: 'private_label/shared/civic_principles' %>
  </div>
  <div class="agree-to-terms checkbox">
    <label for="agree-to-terms">
      <input type="checkbox" name="agree-to-terms" id="agree-to-terms">
      I'm on board, and will do my best to keep these principles in mind.
    </label>
  </div>
</section>
<div class="row">
  <div class="col-md-7">
    <section>
      <p>Lorem ipsum dolor sit amet.</p>
    </section>
  </div>
  <div class="col-md-5">
    <section>
      <p>Lorem ipsum dolor sit amet.</p>
    </section>
  </div>
</div>

<section class="register-form">
  <%= form_for resource, url: person_registration_path, :method => "post", "data-remote" => 'true', :html => { :multipart => 'true', :class => "register" } do |f| %>
    <%= f.fields_for :authentications do |authentication_form| %>
      <%= authentication_form.hidden_field :token %>
      <%= authentication_form.hidden_field :uid %>
      <%= authentication_form.hidden_field :provider %>
    <% end %>
    <div class="row">
      <div class="form-group col-md-6 form-required">
        <%= f.label :first_name, 'Your Name' %>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :first_name, :class => 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :last_name, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 form-required">
        <%= f.label :email, 'Email Address' %>
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 form-required">
        <%= f.label :password %>
        <%= f.password_field :password, :class=> 'form-control' %>
      </div>
      <div class="form-group col-md-6 form-required">
        <%= f.label :password_confirmation, 'Password Again' %>
        <%= f.password_field :password_confirmation, :class=> 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :avatar, "Your Photo:" %>
        <%= f.file_field :avatar, :class => 'textbox' %>
      </div>
      <div class="form-group col-md-6 form-required">
        <%= f.label :zip_code, 'Zipcode' %>
        <%= f.text_field :zip_code, class: 'form-control' %>
      </div>
    </div>
    <div class="form-block regular-reg show">
      <%= f.submit "Continue", :class => 'submit' %>
      or
      <%= link_to 'Cancel', '/', :class=> 'cancel' %>
    </div>
  <% end %>
</section>
