 <div class="wrapper">
    <div class="main section">
      <h1>Settings</h1>
      <%= form_for @person, :url => secure_user_url(@person), :method => :put, :html=> {:multipart => true, class: "form-horizontal"} do |person| %>
        <div class="form-group">
          <%= person.label :name, class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.text_field :name, class: "form-control"  %>
          </div>
        </div>
        <div class="form-group">
          <%= person.label :title, "Your Title", class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.text_field :title, class: "form-control"  %>
          </div>
        </div>
        <div class="form-group">
          <%= person.label :email, class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.text_field :email, class: "form-control"  %>
          </div>
        </div>
        <div class="form-group">
          <%= person.label :zip_code, "Zip Code", class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.text_field :zip_code, class: "form-control"  %>
          </div>
        </div>

        <% unless @person.social_authenticated?("facebook") %>
          <div class="form-group">
            <%= person.label :password, class: "col-sm-2 text-right" %>
            <div class="col-sm-6">
              <%= person.password_field :password, class: "form-control"  %>
            </div>
          </div>
          <div class="form-group">
            <%= person.label :password_again, "Password Confirmation", class: "col-sm-2 text-right" %>
            <div class="col-sm-6">
              <%= person.password_field :password_again, class: "form-control"  %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= person.label "curr_image", current_image_label_text, class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <a id="profileImage" href="<%= user_path(@person) %>">
              <%= profile_image @person, 70 %>
            </a>
            <%= link_to remove_avatar_text, destroy_avatar_user_path(@person), id: "delete", remote: true, method: :delete, confirm: "Are you sure?" if @person.avatar? %>
          </div>
        </div>

        <div class="form-group">
          <%= person.label :avatar, avatar_label_text, class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.file_field :avatar  %>
          </div>
        </div>
        <div class="form-group">
          <%= person.label :bio, bio_label_text, class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.text_area :bio, class: "form-control", :cols => 20, :rows => 10  %>
          </div>
        </div>
        <div class="form-group">
          <%= person.label :website, class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.text_field :website, class: "form-control"  %>
          </div>
        </div>
        <div class="form-group">
          <%= person.label :twitter_username, "Twitter", class: "col-sm-2 text-right" %>
          <div class="col-sm-6">
            <%= person.text_field :twitter_username, class: "form-control"  %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-2">
            <%= person.submit :class => 'btn btn-success', :value => 'Update Settings' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
