<!DOCTYPE html>
<html lang="en" ng-app="civicApp">
  <head>
    <title><%= page_title %></title>
    <%= javascript_include_tag 'embed/application' %>
    <%= stylesheet_link_tag 'embed/application', :media => "screen, projection" %>
    <%= yield :header %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <base href="/embed/">
  </head>
  <body>
    <div class="container">
      <header class="row">
        <account></account>
      </header>

      <div ng-view></div>
    </div>
    <footer>
      <%= link_to '/' do %>
        powered by <%= image_tag 'CC_rgb.png', height: 40 %>
      <% end %>
    </footer>

  </body>
</html>
